@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'reboot';

html, body {
  height: 100%;
}

body {
  & main {
    flex-grow: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  min-height: 100vh;
  min-width: 100%;
}

