$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$saffron:                         #ebbc30;
$white:                           rgb(247, 238, 202);
$black-coffee:                    #362c2b;
$black-olive:                     #3d3d3d;
$olive-green:                     #b5b159;
$about-me:                        #3c3b3a;
$header-hover:                    rgba(54, 44, 43, 0.5);
$color-button-shadow:             rgba(0, 0, 0, 0.1);
$bright-gray: #cbc9c9;
