$color-default-black: #000;
$color-default-white: #fff;
$color-transparent: rgb(255 255 255 / 0%);
$saffron: #ebbc30;
$white: rgb(247 238 202);
$black-coffee: #362c2b;
$black-olive: #3d3d3d;
$olive-green: #b5b159;
$about-me: #3c3b3a;
$header-hover: rgb(54 44 43 / 50%);
$color-button-shadow: rgb(0 0 0 / 10%);
$bright-gray: #cbc9c9;
