@import '@/app/styles/variables';

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & p {
    font-weight: 700;
  }
}

.skillInner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 3px solid $black-coffee;
  border-radius: 50%;
}

.skillInner.pug .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/pug.svg");
  mask: url("../../../../public/icons/pug.svg");
  -webkit-mask-size: 58px;
  mask-size: 58px;
  background-color: $black-coffee;
  width: 58px;
  height: 36px;
}

.skillInner.sass .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/sass.svg");
  mask: url("../../../../public/icons/sass.svg");
  -webkit-mask-size: 50px;
  mask-size: 50px;
  background-color: $black-coffee;
  width: 50px;
  height: 50px;
}

.skillInner.js .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/js.svg");
  mask: url("../../../../public/icons/js.svg");
  -webkit-mask-size: 50px;
  mask-size: 50px;
  background-color: $black-coffee;
  width: 50px;
  height: 50px;
}

.skillInner.gulp .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/gulp.svg");
  mask: url("../../../../public/icons/gulp.svg");
  -webkit-mask-size: 50px 75px;
  mask-size: 50px 75px;
  background-color: $black-coffee;
  width: 50px;
  height: 75px;
}

.skillInner.git .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/git.svg");
  mask: url("../../../../public/icons/git.svg");
  -webkit-mask-size: 60px 75px;
  mask-size: 60px 75px;
  background-color: $black-coffee;
  width: 60px;
  height: 75px;
}

.skillInner.figma .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/figma.svg");
  mask: url("../../../../public/icons/figma.svg");
  -webkit-mask-size: 80px;
  mask-size: 80px;
  background-color: $black-coffee;
  width: 80px;
  height: 80px;
}

.skillInner.nextjs .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/nextjs.svg");
  mask: url("../../../../public/icons/nextjs.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.docker .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/docker.svg");
  mask: url("../../../../public/icons/docker.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.webpack .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/webpack.svg");
  mask: url("../../../../public/icons/webpack.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.ts .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/ts.svg");
  mask: url("../../../../public/icons/ts.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.react .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/react.svg");
  mask: url("../../../../public/icons/react.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.graphql .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/graphql.svg");
  mask: url("../../../../public/icons/graphql.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.tailwind .skillImg {
  display: block;
  -webkit-mask: url("../../../../public/icons/tailwind.svg");
  mask: url("../../../../public/icons/tailwind.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}

.skillInner.gsap .skillImg {
  position: relative;
  left: -5px;
  display: block;
  -webkit-mask: url("../../../../public/icons/gsap.svg");
  mask: url("../../../../public/icons/gsap.svg");
  -webkit-mask-size: 60px;
  mask-size: 60px;
  background-color: $black-coffee;
  width: 60px;
  height: 60px;
}
