@import '@/app/styles/variables';

.photoBlock {
  display: flex;
  background-color: $black-coffee;
}

.photoBlockWrapper {
  width: 100%;
}

.photoBlock img {
  background-size: cover;
  height: 100%;
  width: 100%;
}
