.main-info {
  color: $white;
  background-color: $black-coffee;
  padding: 0 20px;
}

.main-info h2 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: "Montserrat Bold", "Arial", sans-serif;
  color: $white;
}
