.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Montserrat Bold";
  row-gap: 20px;
  border-bottom: 2px solid $black-coffee;
  margin: 0 0 20px;
  padding-bottom: 50px;
}
