.social a {
  background-color: rgb(247, 238, 202);
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.social a::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -4px;
  width: 47px;
  height: 47px;
}

.social.github a::before {
  -webkit-mask: url("../img/svg/github.svg");
  mask: url("../img/svg/github.svg");
  -webkit-mask-size: 49px;
  mask-size: 49px;
  background-color: $black-coffee;
}


.social.telegram a {
  background-color: $black-coffee;
}

.social.telegram a::before {
  top: 50%;
  left: 45%;
  -webkit-mask: url("../img/svg/telegram.svg");
  mask: url("../img/svg/telegram.svg");
  -webkit-mask-size: 28px;
  mask-size: 28px;
  background-color: $white;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
}

.social.linkedin a::before {
  top: 0;
  left: 0;
  -webkit-mask: url("../img/svg/linkedin.svg");
  mask: url("../img/svg/linkedin.svg");
  -webkit-mask-size: 40px;
  mask-size: 40px;
  background-color: $black-coffee;
  width: 40px;
  height: 40px;
}

.social.discord a {
  background-color: $black-coffee;
}

.social.discord a::before {
  top: 8px;
  left: 5px;
  -webkit-mask: url("../img/svg/discord.svg");
  mask: url("../img/svg/discord.svg");
  -webkit-mask-size: 30px;
  mask-size: 40px;
  background-color: $white;
  width: 30px;
  height: 22px;
}
