.strong-sides ul {
  list-style: none;
}

.strong-sides li {
  position: relative;
}

.strong-sides li::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-color: $white;
  transform: rotate(45deg);
  border-radius: 2px;
  animation: rotate-strong-sides 3s linear infinite;
}

@keyframes rotate-strong-sides {
  0% {
    transform: rotate(45deg);
    background-color: $white;
  }

  50% {
    transform: rotate(160deg);
    background-color: $saffron;
  }

  100% {
    transform: rotate(320deg);
    background-color: $white;
  }
}
